@bg-dark: #333;




.masthead {
	position: relative;
	margin-bottom: 100px;
	background: @bg-dark;

	.masthead-brand {

		img {
			width: 250px;
		}
	}
}

#mascot {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
}


.search-area {
	background: black;
	border-color: #444;
}


.mastfoot {
	position: relative;
	background: @bg-dark;
}



@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }
}